service pd_mapper /vendor/bin/pd-mapper
    class core
    user root
    group system
    disabled
    oneshot

service tqftpserv /vendor/bin/tqftpserv
    class core
    user root
    group system
    disabled
    oneshot

service rmtfs /vendor/bin/rmtfs -o /dev/block/platform/soc@0/1d84000.ufshc/by-name -P -r -s
    class core
    user root
    group system
    disabled
    oneshot

on post-fs-data
    mkdir /data/vendor
    mkdir /data/vendor/tmp
    mkdir /data/vendor/readwrite
    mkdir /data/vendor/readonly
    mkdir /data/vendor/readonly/firmware
    mkdir /data/vendor/readonly/firmware/image
    write /sys/class/firmware/timeout 1
    start pd_mapper
    start tqftpserv
    start rmtfs
